/** CSS styles for SkaterData. */

body {
	  background: white url(peak-lake-tall-30.png) no-repeat;
}

.jsc-root-window {
	width: 1000px;
	height: 500px;
}

table.jsc-header {
	display: block;
	margin-left: 10px;
	margin-top: 5px;
}

table.jsc-toolbar {
	display: block;
	font-size: 0.5em;
	color: #2E385B;
	font-weight: bold;
}

.jsc-toolbar-separator {
    padding-right: 5px;
    padding-left: 5px;
}

.jsc-toolbar-spacer {
    width: 275px;
}

.jsc-panel-spacer {
    width: 50px;
}

.jsc-header-title {
	font-size: 18pt;
	right-margin: 3pt;
}

.jsc-message {
	background-color: red;
	border: 2pt solid #2E385B;
	color: white;
	padding: 2px 5px 2px 5px;
	display: block;
	position: absolute;
	left: 225px;
	top: 80px;
}

.jsc-message-clear {
	color: transparent;
	background-color: transparent;
	border: none;
}

.jsc-content {
	display: block;
	background: transparent;
	margin: 8pt;
}

.jsc-screen {
	display: block;
	background: #cccccc;
	border: 2pt solid #2E385B;
	font-size: 20pt;
	margin: 0pt;
}

.jsc-twopanel-screen {
	display: block;
	background: transparent;
	/*opacity:.80;*/
	border: none;
	font-size: 20pt;
	/*color: transparent;*/
	margin: 0pt;
	/*padding: 0pt;*/
}

.jsc-leftpanel {
	display: block;
	background: lightblue;
	opacity: .85;
	border: 2pt solid #2E385B;
	font-size: 20pt;
	padding: 5pt;
}

.jsc-rightpanel {
	display: block;
	background: white;
	opacity: .85;
	border: 2pt solid #2E385B;
	font-size: 20pt;
	padding: 5pt;
}

.jsc-spacer {
	display: block;
	background: transparent;
    margin: 5pt;
}

.jsc-screentitle {
	font-size: 18pt;
	margin: 3pt;
}

.jsc-label-padded-right {
	padding-right: .4em;
}

.jsc-fieldlabel {
	text-align: right;
	font-weight: bold;
	opacity: 1.0;
}

.jsc-fieldlabel-left {
	text-align: left;
	font-weight: bold;
	opacity: 1.0;
}

.jsc-field {
	background: white;
	opacity: 1.0;
}

.jsc-currencyfield {
	background: white;
	text-align: right;
	text-decoration: italic;
	padding-left: 10px;
	opacity: 1.0;
}

.jsc-tablehead {
	text-align: left;
	font-weight: bold;
	border: 1pt solid #cccccc;
	padding-left: 5px;
	padding-right: 5px;
	opacity: 1.0;
}

.jsc-tablecell {
	background: white;
	text-align: left;
	border: 1pt solid #cccccc;
	padding-left: 5px;
	padding-right: 5px;
	opacity: 1.0;
}

.jsc-button-right {
	text-align: right;
	padding-top: 2px;
	padding-bottom: 2px;
}

.jsc-link-right {
	text-align: right;
}

.jsc-step {
	font-size: 18pt;
	font-weight: bold;
	margin: 3pt;
}

.jsc-text {
	margin: 3pt;
}

.jsc-dialog {
	margin: 3pt;
	font-size: 12pt;
	text-align: center;
}

.jsc-about-link {
	display: block;
	position: absolute;
	left: 875px;
	top: 325px;
	font-size: 0.75em;
	color: #2E385B;
	font-weight: bold;
}

.classes-ListHeader {
  background: #c1eec8 url(gradient.gif) repeat-x 0px -1px;
  font-weight: bold;
}

.roster-ListHeader {
  background: #c1eec8 url(gradient.gif) repeat-x 0px -1px;
  font-weight: bold;
}